@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
  background-color: beige;
  
}

h1{
    color: black
}
.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  background-color: white;
  border-radius: 50px;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  cursor: pointer;
}

.container{
    height: 65%;
    width: 25%;
    border-radius: 30px;
    padding-top: 30px;
    justify-content: center;
    /* grid-column: 1 / -1; */
    background-color: gray;
    /* border-radius: 20px 20px 0 0; */
    word-wrap: break-word;
    word-break: break-all;
    -ms-word-break: break-all;
    -ms-word-wrap: break-word;

}
.row{
  margin: 8px 0;
  color: #fff;
  
}
#row1{
    margin-top: 28px;
}
.row input{
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #333;
    color: #fff;
}